# Auth0 Configuration
# Copy this file to .env and replace with your actual Auth0 credentials

VITE_AUTH0_DOMAIN=expensewise.us.auth0.com
VITE_AUTH0_CLIENT_ID=ocK4rGPicXErVS5Q3mIBYzJLfxmEizj1
VITE_AUTH0_AUDIENCE=https://expensewise-api
AUTH0_AUDIENCE=https://expensewise-api
AUTH0_ISSUER=https://expensewise.us.auth0.com/
PORT=5001
